h1 {
   text-align: center;
    background-color:blueviolet ;
}

.image{
    width: 80%;
    height: 80%;
}

.main {
    display: flex;
    justify-content: space-around;
}

.text {
    color:blueviolet;
    font-size: 30px;
    text-align: center;
}